.body {
  background-color:#db8d8c;
  background-image: url(../assets/img/clock.gif);
  background-size: cover;
}

.container{
  margin-top: 10vw;
  height: 400px;
  color:white;
  text-align: center;
  background-color:#8f8cdb;
  background-image: url(../assets/img/clock.gif);
  background-size: cover;
  .button{
    color: white;
    background: #d8db8c;
  }
}

.button:hover {
  color: white;
  transition-duration: 03s;
  background-color: black;
  box-shadow: 2px 2px;

}

.dateInput{
  // margin-top: 200px;
  h2{
    margin-top: 60px;
  }

}

.userInput {
  width: 30vw;
}

#field {
  color: black;
  margin-top: 10vh;
  list-style-type: none;
}
